body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 13px;
        width: 1000px;
        padding: 0px;
        margin:  0 auto;
        background: #f5f5f5;
        
 }
 #top{
    background-color: #f5f5f5;
    padding: 0px;
    margin: 80px 0px 0px 0px;
    width: 1000px;
    height: 200px;
    background-image: url('../images/201508110909302607_tin tuc.jpg');
 }
 
 #top #search {
     margin: -70px 0px 0px 700px;
     padding-right: 0px;
     position: absolute;
     vertical-align: bottom;
     transform: translate(-50%-50%);
     background: yellow;
     border-radius: 40px;
     float: left;
     padding:10px;

 }
 #top #search:hover>.search-txt{
     width: 240px;
     padding: 0 6px;
 }
 #top #search:hover > .search-btn{
    background: white;
}
 #top #search .search-btn {
     color: black;
     float: left;
     width: 40px;
     height: 40px;
     border-radius: 50%;
     background: chocolate;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: 0.4s;
 }
 #top #search .search-txt{
     border: none;
     background: none;
     outline: none;
     float: left;
     padding: 0;
     color: black;
     font-size: 18px;
     transition: 0.4s;
     line-height: 40px;
     width: 0px;
 }
 #top #search a{
     
     width: 10px;
 }

#top #logo img{
    margin: -150px 20px 20px -40px;
    object-fit: cover;
}

 #main{
    margin-top: 10px;
}

 #menu_top {
     background: #60a917;
     height: 35px;
     font-weight: bold;
     margin: -30px 0px 0px 0px;
    
 }
#menu_top ul{
    margin: 0px;
    padding: 0px;
}

#menu_top ul li{
    list-style: none;
    float: left;
}

#menu_top ul li a{
    text-decoration: none;
    display: block;
    line-height: 35px;
    color: #fff;
    padding: 0px 20px 0px 20px;
    border-right: 1px solid #f1f1f1;
}
#menu_top ul li a.khung{
   background-color: #f0a30a;
}
#menu_top ul li a:hover{
    background-color: #f0a30a;
}



 #main #left{
     width: 200px;
     float: left;
     min-height: 400px;
     font-style: normal;
     padding: 0px 20px 0px 30px;
 }
#main #left .menu-trai ul{
    margin: -14px 0px 0px 0px;
    padding: 0px;
    border: 1px solid black;
}
#main #left .menu-trai ul li{
    list-style: none;
}
#main #left .menu-trai h3{
    background: #60a917;
    height: 40px;
    margin-top: 0px;
    font-size: 14px;
    line-height: 40px;
    color: #fff;
    text-indent: 15px;
   
}
#main #left .menu-trai ul li a{
    display: block;
    text-decoration: none;
    line-height: 40px;
    border-bottom: 1px solid black;
    text-indent: 50px;
    height: 40px;
    margin-bottom: 0px;
    font-weight: bold;
}
#main #quangcao{
    margin: 10px 0px 0px 0px;
}
#main #quangcao img{
    object-fit: cover;
}
.menu-trai ul li:hover{
	background: #f0a30a;
}
.menu-trai ul li:hover a{
	color: #fff;
    text-shadow: 2px 2px 5px #0033ff;
}





#main #bottom{
    
    width: 500px;
    float: left;
    min-height: 400px;
}
#main #bottom ul{
       margin: 0px;
       padding: 0px;
}
#main #bottom ul li{
    list-style: none;
    clear: left;
    border-bottom: 2px solid #ccc;
    float: left;
    margin-bottom: 20px;
}
#main #bottom ul .hinhtrai{
    float: left;
    width: 250px;
    padding-bottom: 0px;
}
#main #bottom ul .hinhtrai h2{
    margin: -0px 10px 0px 0px;
    font-size: 14px;
}
#main #bottom ul .hinhphai{
    float: right;
    width: 250px;
}
#main #bottom ul .hinhphai h2{
    margin: -0px 10px 0px 0px;
    font-size: 14px;
}
#main #bottom ul li img{
    float: left;
    margin-right: 10px;
    margin-bottom: 3px;
    object-fit: cover;
}
#main #bottom ul li h2{
    font-size: 14px;
}



#main #right{
    
    width: 220px;
    float: left;
    min-height: 400px;
    margin: 0px 0px 0px 20px;
}
#main #right img{
    object-fit: cover;
}


#footer {
    background: #000;
    width: 1000px;
    text-align: center;
    height: 150px;
    color: #fff;
    clear: left;
}

